## Tuples

- Tuples are useful for when you want to keep it unchanged forever.
- Most of the time I'd recommend using tuples over lists, and only use lists when you specifically want to allow changes.

In [1]:
# -- Defining tuples --

short_tuple = "Rolf", "Bob"
a_bit_clearer = ("Rolf", "Bob")
tuple_in_list = [("Rolf", "Bob")]
not_a_tuple = "Rolf" # This is just a string
This_is_tuple = "Rolf", 

Not_a_tuple_2 = (15) # When you put a number between brackets, 
    # Python assumes you are using this for a mathematical operation instead of creating a tuple.
    # if you want to create a tuple, then you will need to write Not_a_tuple_2 = (15,)

In [2]:
# -- Adding to a tuple --

friends = ("Rolf", "Bob", "Anne")
friends.append("Jen")  # ERROR!

print(friends)  # ["Rolf", "Bob", "Anne", "Jen"]

AttributeError: 'tuple' object has no attribute 'append'

You can insert elements to tuple by adding tuples together

In [5]:
friends = ("Rolf", "Bob", "Anne")
friends = friends + ("Jen",) # Need to have comma in the end to indicate tuple
print(friends)

('Rolf', 'Bob', 'Anne', 'Jen')

In [3]:
# -- Removing from a tuple --

friends.remove("Bob")  # ERROR!

print(friends)  # ["Rolf", "Anne", "Jen"]

AttributeError: 'tuple' object has no attribute 'remove'

## Sets
- Sets are extremely useful for comparing collections of values, and are highly optimised for this kind of operation.
- Sets are a little different to the collections we've looked at so far, in that they're not reliably ordered. If we create a list or a tuple and print it, we know that the items will show up in the order we defined them. This isn't the case for a set.
- Sets can also only contain unique elements, much like we saw with dictionary keys. In fact, we can really think of a set as a dictionary which only contains keys.
- Sets come with a number of very useful operations for comparing the members of collections. They're therefore very useful for filtering values, and it's also extremely efficient to perform these kinds of membership tests for sets.

In [6]:
# -- Defining sets --

art_friends = {"Rolf", "Anne"}
science_friends = {"Jen", "Charlie"}

In [8]:
# -- Adding to a set --

## We don't "append" to sets because appending means "adding at the end". 
    ## Since sets don't have order, there is no "end" to add to.

art_friends.add("Jen")

print(art_friends)

{'Jen', 'Anne', 'Rolf'}

In [9]:
# -- No duplicate items --

art_friends.add("Jen")

print(art_friends)  # Same as before, "Jen" was not added twice

{'Jen', 'Anne', 'Rolf'}

In [10]:
# -- Removing from a set --

science_friends.remove("Charlie")

print(science_friends)

{'Jen'}

### Advanced set operations
- https://blog.teclado.com/python-set-operators/
- https://blog.teclado.com/python-symmetric-difference/

In [14]:
art_friends = {"Rolf", "Anne", "Jen"}
science_friends = {"Jen", "Charlie"}

In [19]:
# -- Difference --
# Gives you members that are in one set but not the other.

art_but_not_science = art_friends.difference(science_friends)
science_but_not_art = science_friends.difference(art_friends)

print(art_but_not_science)
print(science_but_not_art)

# Method 2 
art_but_not_science_2 = art_friends - science_friends
science_but_not_art_2 = science_friends - art_friends

print(art_but_not_science_2)
print(science_but_not_art_2)

{'Anne', 'Rolf'}
{'Charlie'}
{'Anne', 'Rolf'}
{'Charlie'}

In [ ]:
# -- Symmetric difference --
# Gives you those members that aren't in both sets
# Order doesn't matter with symmetric_difference

not_in_both = art_friends.symmetric_difference(science_friends)

print(not_in_both)

For sets s1 and s2, the symmetric difference of s1 and s2 is equivalent to the union of s1.difference(s2) and s2.difference(s1).

In [13]:
s1 = {1, 3, 4, 5, 7, 8}
s2 = {2, 3, 4, 6, 8, 9}

s3 = s1.symmetric_difference(s2)
s4 = s1.difference(s2) | s2.difference(s1)

print(s3)  # {1, 2, 5, 6, 7, 9}
print(s4)  # {1, 2, 5, 6, 7, 9}

{1, 2, 5, 6, 7, 9}
{1, 2, 5, 6, 7, 9}

In [20]:
# -- Intersection --
# Gives you members of both sets

art_and_science = art_friends.intersection(science_friends)
print(art_and_science)

# Method 2 
art_and_science_2 = art_friends & science_friends
print(art_and_science_2)

{'Jen'}
{'Jen'}

In [18]:
# -- Union --
# Gives you all members of all sets, but of course without duplicates

all_friends = art_friends.union(science_friends)
print(all_friends)

# Method 2 
all_friends_2 = art_friends | science_friends
print(all_friends_2)

{'Charlie', 'Rolf', 'Jen', 'Anne'}
{'Charlie', 'Rolf', 'Jen', 'Anne'}

In [12]:
# We can also chain the operations together, for example to find the union of three sets:

set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
set_3 = {5, 6, 7, 8, 9}

# Combine set_1 and set_2 and set_3
print(set_1 | set_2 | set_3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

One thing to note is that when using these set operators, rather than the method syntax, both operands must be sets. When using the method syntax, the argument can be any iterable type.

### Coding exercise 3: Nearby friends 

We have provided you with two variables: nearby_people, user_friends. 
- In this exercise, ask the user for the name of a friend. Add this name to the user_friends set provided.
- Finally, print out a set that contains only the name of the friend if the friends is in the nearby_people set.
- You will want to calculate the intersection between two sets, and print the result out.

In [21]:
nearby_people = {'Rolf', 'Jen', 'Anna'}
user_friends = set()  # This is an empty set, like {}

In [24]:
# Ask the user for the name of a friend
user_friend_name = input("What's your name: ")

# Add the name to the empty set
user_friends.add(user_friend_name)

# Print out the intersection between both sets. This gives us a set with those friends that are nearby.
print(nearby_people & user_friends)

What's your name: Yi
{'Yi'}

## Dictionary 

https://www.teclado.com/30-days-of-python/python-30-day-10-dictionaries

- Dictionaries are Python's version of something called an associative array, and it works a little differently to the things like lists, strings, and tuples.
- Dictionary is one of sequence types. For something to be a sequence, it must have ordered indices which start from 0, and which increment in steps of 1. It must also be possible to find the length of the collection with len.
- A dictionary can have many keys, but each key must be unique inside that dictionary, and each key must have a single value. That value can, however, be a collection, including another dictionary.

When we want to create a dictionary with content, we have to work in pairs of keys and values. A dictionary can't have a key without a value, and we can't have a value which isn't associated with a key.

In [27]:
# For example, let's add a list of grades for this student alongside their name:
student = {
    "name": "John Smith",
    "grades": [88, 76, 92, 85, 69]
}
student

{'name': 'John Smith', 'grades': [88, 76, 92, 85, 69]}

In [29]:
friend_ages = {"Rolf": 24, "Adam": 30, "Anne": 27}

print(friend_ages["Rolf"])  # 24
# friend_ages["Bob"]  ERROR

24

In [33]:
"""
If we're unsure if a key exists, and we don't want an exception being raised, 
we can instead use a method called get. 
If the key exists, get works exactly the same way as using a subscription expression, 
but if the key doesn't exist, it will return None instead of crashing the program.
"""

student = {
    "name": "John Smith",
    "grades": [88, 76, 92, 85, 69]
}

print(student.get("grade"))

None

In [34]:
"""
If we like, we can specify a different default value by passing in a second value to get. 
For example, we can tell it we want an empty list if there isn't a "grade" key:
"""

student = {
    "name": "John Smith",
    "grades": [88, 76, 92, 85, 69]
}

print(student.get("grade", []))

[]

-- What can we use as dictionary key names?
- As we've already seen, strings are perfectly fine, but so are numbers, and even tuples. However we can't ever use a list as a key. Why not? Because a list can change.
- Some of you may be wondering why we can use strings as keys, since it seems like we can modify stings as well. However, we never actually modify a string: we always create a new one.
- Just now I mentioned we can use a tuple as a key, but there are some limitations here as well. This is because tuples can contain things like lists, and we can modify those inner lists.

In [32]:
# For example, we can do this:
student = (
    "John Smith",
    [88, 76, 92, 85, 69]
)

# Append 77 to the list at index 1
student[1].append(77)

print(student)

# We can therefore only use a tuple which doesn't contain any mutable values as keys in a dictionary.

('John Smith', [88, 76, 92, 85, 69, 77])

-- Adding a new key to the dictionary --

In [30]:
friend_ages = {
    "Rolf": 24, 
    "Adam": 30, 
    "Anne": 27
}
friend_ages["Bob"] = 20
print(friend_ages)  # {'Rolf': 24, 'Adam': 30, 'Anne': 27, 'Bob': 20}

{'Rolf': 24, 'Adam': 30, 'Anne': 27, 'Bob': 20}

-- We can also extend a dictionary using an existing dictionary and the update method.

In [36]:
movie = {
    "title": "Avengers: Endgame",
    "directors": ["Anthony Russo", "Joe Russo"],
    "year": 2019
}

meta_info = {
    "runtime": 181,
    "budget": "$356 million",
    "earnings": "$2.798 billion",
    "producer": "Kevin Feige"
}

movie.update(meta_info)
print(movie)

{'title': 'Avengers: Endgame', 'directors': ['Anthony Russo', 'Joe Russo'], 'year': 2019, 'runtime': 181, 'budget': '$356 million', 'earnings': '$2.798 billion', 'producer': 'Kevin Feige'}

-- Modifying existing items in a dictionary --

In [31]:
friend_ages = {
    "Rolf": 24, 
    "Adam": 30, 
    "Anne": 27
}
friend_ages["Rolf"] = 25

print(friend_ages)  # {'Rolf': 25, 'Adam': 30, 'Anne': 27, 'Bob': 20}

"""
We can also use the update method to either replace many values at once, 
or perform some combination of addition and replacement. 
Any keys which already exist will have their values replaced, while new keys will be created like we saw before.
"""

{'Rolf': 25, 'Adam': 30, 'Anne': 27, 'Bob': 20}

-- Deleting items from a dictionary --

In [37]:
movie = {
    "title": "Avengers: Endgame",
    "directors": ["Anthony Russo", "Joe Russo"],
    "year": 2019,
    "runtime": 181
}

del movie["runtime"]

movie

{'title': 'Avengers: Endgame',
 'directors': ['Anthony Russo', 'Joe Russo'],
 'year': 2019}

-- Lists of dictionaries --
- Imagine you have a program that stores information about your friends.
- This is the perfect place to use a list of dictionaries.
- That way you can store multiple pieces of data about each friend, all in a single variable.

In [48]:
friends = [
    {"name": "Rolf Smith", "age": 24},
    {"name": "Adam Wool", "age": 30},
    {"name": "Anne Pun", "age": 27},
]

# This allows you to acess name by order 
print(friends[0]["name"])

Rolf Smith

In [49]:
friends = (
    {"name": "Rolf Smith", "age": 24},
    {"name": "Adam Wool", "age": 30},
    {"name": "Anne Pun", "age": 27},
)

# This allows you to acess name by order 
print(friends[0]["name"])

Rolf Smith

In [47]:
# You can turn a list of lists or tuples into a dictionary:

friends = [("Rolf", 24), ("Adam", 30), ("Anne", 27)]
friend_ages = dict(friends)
print(friend_ages)

{'Rolf': 24, 'Adam': 30, 'Anne': 27}

-- Iterating over dictionaries --

In [38]:
movie = {
    "title": "Avengers: Endgame",
    "directors": ["Anthony Russo", "Joe Russo"],
    "year": 2019
}

for attribute in movie:
    print(attribute)

title
directors
year

In [39]:
movie = {
    "title": "Avengers: Endgame",
    "directors": ["Anthony Russo", "Joe Russo"],
    "year": 2019
}

for key in movie:
    print(movie[key])

Avengers: Endgame
['Anthony Russo', 'Joe Russo']
2019

In [40]:
movie = {
    "title": "Avengers: Endgame",
    "directors": ["Anthony Russo", "Joe Russo"],
    "year": 2019
}

for value in movie.values():
    print(value)

Avengers: Endgame
['Anthony Russo', 'Joe Russo']
2019

In [41]:
movie = {
    "title": "Avengers: Endgame",
    "directors": ["Anthony Russo", "Joe Russo"],
    "year": 2019
}

for key in movie:
    print(f"{key}: {movie[key]}")

title: Avengers: Endgame
directors: ['Anthony Russo', 'Joe Russo']
year: 2019

In [42]:
movie = {
    "title": "Avengers: Endgame",
    "directors": ["Anthony Russo", "Joe Russo"],
    "year": 2019
}

for key, value in movie.items():
    print(f"{key}: {value}")

title: Avengers: Endgame
directors: ['Anthony Russo', 'Joe Russo']
year: 2019

 ## Length and sum

In [3]:
# Imagine you're wanting a variable that stores the grades attained by a student in their class.
# Which of these is probably not going to be a good data structure?

grades = [80, 75, 90, 100]
grades = (80, 75, 90, 100)  # If we are not adding new things, then tuple will be the best choice!
grades = {80, 75, 90, 100}  # This one, because of no duplicates


total = sum(grades)
length = len(grades)

average = total / length

print("sum is {}".format(total))

sum is 345

## Coding exercise

In [ ]:
lottery_numbers = {13, 21, 22, 5, 8}


"""
A player looks like this:

{
    'name': 'PLAYER_NAME',
    'numbers': {1, 2, 3, 4, 5}
}

Define a list with two players (you can come up with their names and numbers).
"""

players = []

"""
For each of the two players, print out a string like this: "Player PLAYER_NAME got 3 numbers right.".
Of course, replace PLAYER_NAME by their name, 
and the 3 by the amount of numbers they matched with lottery_numbers.
You'll have to access each player's name and numbers, 
and calculate the intersection of their numbers with lottery_numbers.
Then construct a string and print it out.

Remember: the string must contain the player's name and the amount of numbers they got right!
"""

In [38]:
lottery_numbers = {13, 21, 22, 5, 8}


players = [
        {
            'name':'Jen',
            'numbers': {13,2,5}
            
        },
          {
            'name':'David',
            'numbers': {2,3,6,8}
            
        }
    ]

for player in range(len(players)):
    right_num = len(players[player]["numbers"] & lottery_numbers)
    player_name = players[player]["name"]
    print(f"Player {player_name} got {right_num} numbers right")

Player Jen got 2 numbers right
Player David got 1 numbers right

## Joining a list

In [43]:
# Imagine you've got all your friends in a list, and you want to print it out.
friends = ["Rolf", "Anne", "Charlie"]
print(f"My friends are {friends}.")

My friends are ['Rolf', 'Anne', 'Charlie'].

In [44]:
# Not the prettiest, so instead you can join your friends using a ",":
friends = ["Rolf", "Anne", "Charlie"]
comma_separated = ", ".join(friends)
print(f"My friends are {comma_separated}.")

My friends are Rolf, Anne, Charlie.

In [45]:
# Want the last one to say ", and" ?
# You'll have to wait until we cover list slicing in the next section!